* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.titulo {
  margin-top: 2rem;
}

.barra {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border-bottom: 3px solid black;
}

.logo {
  text-decoration: none;
  color: white;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.menuLink:hover {
  text-decoration: underline;
}

.carrito{
  color: white;
  cursor: pointer;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.producto > div {
  padding: 1rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.producto > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.producto .verMas {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.producto .verMas:hover {
  background-color: black;
  color: white;
}

.productoDetalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.productoDetalle img {
  width: 100%;
}

.productoDetalle-info h3 {
  font-size: 2rem;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}